form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url('https://wallpapercave.com/wp/wp3160287.jpg');
    background-size: 50em;
    background-size: cover; 
}

*{
    color: white;
    
}

